builds/day-03-prompt-system/workflow.json
{
    "name": "Prompt Evaluation System",
    "nodes": [
        {
            "parameters": {},
            "id": "manual-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Mock Inputs: Prompt Template and Test Cases\nreturn [\n  {\n    json: {\n      prompt_template: \"# Blog Introduction\\nRole: Agile Coach\\nTask: Write an intro about daily standups...\",\n      test_cases: [\n        { id: 1, topic: \"Why standups feel like a waste of time\", audience: \"Senior Devs\" },\n        { id: 2, topic: \"How to keep standups under 15 mins\", audience: \"Scrum Masters\" }\n      ]\n    }\n  }\n];"
            },
            "id": "mock-data",
            "name": "Load Prompt & Test Cases",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "test_cases"
            },
            "id": "split-tests",
            "name": "Split Test Cases",
            "type": "n8n-nodes-base.itemLists",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4",
                "prompt": {
                    "messages": [
                        {
                            "role": "system",
                            "content": "={{ $json.prompt_template }}"
                        },
                        {
                            "role": "user",
                            "content": "Topic: {{ $json.topic }}\nAudience: {{ $json.audience }}"
                        }
                    ]
                }
            },
            "id": "openai-generate",
            "name": "OpenAI - Generate",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1120,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Scoring Rubric Logic\nconst output = items[0].json.message.content;\n\nlet score = 0;\nconst rubric = {\n  clarity: 0,\n  completeness: 0,\n  tone: 0,\n  format: 0\n};\n\n// 1. Clarity Check (Simple length/structure proxy)\nif (output.length > 50 && output.length < 500) rubric.clarity = 3;\nelse rubric.clarity = 1;\n\n// 2. Tone Check (Check for forbidden AI words)\nconst forbiddenWords = ['delve', 'explore', 'landscape', 'testament'];\nconst hasForbidden = forbiddenWords.some(word => output.toLowerCase().includes(word));\nrubric.tone = hasForbidden ? 0 : 2;\n\n// 3. Completeness (Mock check)\nrubric.completeness = 3;\n\n// 4. Format\nrubric.format = 2;\n\nscore = rubric.clarity + rubric.tone + rubric.completeness + rubric.format;\n\nreturn [{\n  json: {\n    output: output,\n    score: score,\n    rubric_breakdown: rubric,\n    status: score >= 8 ? 'PASS' : 'FAIL'\n  }\n}];"
            },
            "id": "score-output",
            "name": "Score Output",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": "YOUR_SHEET_ID",
                "range": "A:E",
                "options": {}
            },
            "id": "google-sheets",
            "name": "Log to Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 1,
            "position": [
                1560,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_GSHEETS_ID",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Load Prompt & Test Cases",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Prompt & Test Cases": {
            "main": [
                [
                    {
                        "node": "Split Test Cases",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Test Cases": {
            "main": [
                [
                    {
                        "node": "OpenAI - Generate",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI - Generate": {
            "main": [
                [
                    {
                        "node": "Score Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Score Output": {
            "main": [
                [
                    {
                        "node": "Log to Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}