builds/day-03-prompt-system/workflow.json
{
    "name": "Prompt Eval + Rewrite (DeepSeek) - Fixed",
    "nodes": [
        {
            "parameters": {
                "formTitle": "Prompt Evaluator (DeepSeek)",
                "formDescription": "Paste a raw prompt + optional test input. DeepSeek will rewrite it into a structured prompt and score it.",
                "buttonLabel": "Evaluate Prompt",
                "fields": {
                    "values": [
                        {
                            "fieldLabel": "Raw Prompt",
                            "fieldType": "textarea",
                            "requiredField": true,
                            "fieldOptions": {
                                "placeholder": "Paste your prompt here..."
                            }
                        },
                        {
                            "fieldLabel": "Test Input (optional)",
                            "fieldType": "textarea",
                            "fieldOptions": {
                                "placeholder": "Example input you would feed into the prompt (optional)"
                            }
                        },
                        {
                            "fieldLabel": "Audience (optional)",
                            "fieldType": "text",
                            "fieldOptions": {
                                "placeholder": "e.g., busy developers, founders, students"
                            }
                        },
                        {
                            "fieldLabel": "Tone (optional)",
                            "fieldType": "text",
                            "fieldOptions": {
                                "placeholder": "e.g., human, direct, practical, no fluff"
                            }
                        }
                    ]
                }
            },
            "id": "FormTrigger1",
            "name": "Form Trigger",
            "type": "n8n-nodes-base.formTrigger",
            "typeVersion": 2,
            "position": [
                260,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "[https://api.deepseek.com/chat/completions](https://api.deepseek.com/chat/completions)",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "={{'Bearer ' + ($env.DEEPSEEK_API_KEY || 'YOUR_API_KEY_HERE')}}"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"deepseek-chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a Prompt QA expert. Output ONLY valid JSON. Structure: {\\\"improved_prompt\\\": \\\"...\\\", \\\"score_breakdown\\\": {\\\"clarity_0_3\\\": 0, \\\"completeness_0_3\\\": 0, \\\"tone_match_0_2\\\": 0, \\\"format_compliance_0_2\\\": 0}, \\\"final_score_0_10\\\": 0, \\\"top_3_issues\\\": [], \\\"top_3_improvements\\\": [], \\\"best_practice_notes\\\": \\\"\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"RAW PROMPT: {{ $json['Raw Prompt'] }}\\nINPUT: {{ $json['Test Input (optional)'] }}\\nAUDIENCE: {{ $json['Audience (optional)'] }}\\nTONE: {{ $json['Tone (optional)'] }}\"\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" }\n}",
                "options": {}
            },
            "id": "Http1",
            "name": "DeepSeek API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                520,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "let content = $json.choices[0].message.content;\n\n// Remove markdown code fences if present\ncontent = content.replace(/```json/g, '').replace(/```/g, '').trim();\n\ntry {\n  const parsed = JSON.parse(content);\n  return parsed;\n} catch (e) {\n  return { error: \"Failed to parse JSON\", raw: content };\n}"
            },
            "id": "Code1",
            "name": "Clean & Parse JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                740,
                300
            ]
        },
        {
            "parameters": {
                "formTitle": "Prompt Evaluation Result",
                "completionPageTitle": "Evaluation Complete",
                "completionMessage": "={{ `\n<h2>Score: ${$json.final_score_0_10}/10</h2>\n<p><strong>Clarity:</strong> ${$json.score_breakdown.clarity_0_3}/3 | \n<strong>Completeness:</strong> ${$json.score_breakdown.completeness_0_3}/3 | \n<strong>Tone:</strong> ${$json.score_breakdown.tone_match_0_2}/2 | \n<strong>Format:</strong> ${$json.score_breakdown.format_compliance_0_2}/2</p>\n\n<hr>\n\n<h3>Improved Prompt</h3>\n<div style=\"background: #f4f4f4; padding: 15px; border-radius: 5px; border: 1px solid #ddd; font-family: monospace; white-space: pre-wrap;\">\n${$json.improved_prompt}\n</div>\n\n<h3>Key Improvements</h3>\n<ul>\n  ${$json.top_3_improvements.map(i => `<li>${i}</li>`).join('')}\n</ul>\n\n<p><i>Note: ${$json.best_practice_notes}</i></p>\n` }}",
                "buttonLabel": "Back"
            },
            "id": "FormEnd1",
            "name": "Display Results",
            "type": "n8n-nodes-base.form",
            "typeVersion": 1,
            "position": [
                960,
                300
            ]
        }
    ],
    "connections": {
        "Form Trigger": {
            "main": [
                [
                    {
                        "node": "DeepSeek API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek API": {
            "main": [
                [
                    {
                        "node": "Clean & Parse JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Clean & Parse JSON": {
            "main": [
                [
                    {
                        "node": "Display Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}